<form method=<%=locals?.method||"POST"%> action=<%=locals?.action||""%>>
    <input type="text" name="name" placeholder="Enter Name" />
    <input type="text" name="message" placeholder="Enter Message" />
    <button><img class="send" src="/send.png" alt="Send Image"></button>
</form>
