<li class="message">
    <%=message.user%>
    <a href="/messages/<%=message.id%>"
        ><img width="16px" src="/open.svg" alt="open button"
    /></a>
    <span class="message-text"><%=message.text%></span>
</li>
