*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    height: 100%;
    background-color: aliceblue;
    align-items: center;
}
main {
    width: 70ch;
    background-color: aliceblue;
    flex-grow: 1;
}
.main-center {
    width: auto;
}
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.message {
    display: grid;
    gap: 0 1rem;
    grid-template-columns: max-content max-content;
    grid-template-rows: min-content min-content;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: rgb(235, 131, 131);
    border-radius: 15px;
    border: 1px solid white;
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.message-text {
    grid-row: 2;
    grid-column: 1/3;
}

.message-form {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5rem;
    align-items: center;
    span {
        margin: 0.25rem;
        grid-column: 2/3;
        justify-self: end;
        width: max-content;
    }
    label {
        grid-column: 1/2;
    }
    input[name="message"] {
        grid-row: 4/5;
    }
    .name-error {
        grid-row: 1/2;
    }
    .text-error {
        grid-row: 2/3;
    }
    input {
        grid-column: 1/4;
        flex-grow: 1;
        padding: 0.75rem;
        border-radius: 15px;
        border: none;
        outline: 2px solid black;
    }
    button {
        border-radius: 50%;
        grid-column: 2;
        padding: 0.6rem 0.5rem 0.6rem 0.75rem;
        justify-self: end;
        background-color: rgb(240, 78, 78);
        cursor: pointer;
    }
}
a,
a:active,
a:link,
a:visited,
a:hover {
    text-decoration-line: none;
    color: rgb(240, 78, 78);
}
a:hover {
    color: hotpink;
    text-decoration: underline;
}

input ~ span {
    padding: 0 0.5rem 0.5rem 0.5rem;
    height: 2ch;
    width: 30ch;
    color: red;
    font-weight: 500;
}
input:user-invalid {
    outline: 2px solid red;
}

input:user-invalid ~ span::after {
    content: "This field is required";
}
.return-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
        margin-top: 0.5rem;
    }
}
