<html lang="en">
    <%-include("../partials/head",{title:"404"})%>
    <body>
        <header>       
            <h1>Page not found</h1>
       </header>
       
       <main class="main-center">
            <p>The page you’re looking for doesn’t exist or has been moved.</p>
            <a href="/">Go Home</a>
       </main>
    </body>
</html>
