<html lang="en">
    <%-include("../partials/head",{title:"Add Message"})%>
    <body>
        <header class="return-header"><h1>Add Message</h1> <a href="/"><img width="24px" src="/back.svg" alt="back button"></a> </header>
       <main>
        <%- include("../partials/form",{action:"/new",method:"POST"})%>
       </main>
    </body>
</html>
